$background-color: #121212;

$primary-color: #c8c8e4;
$secondary-color: #9292ac;
$tertiary-color: #79797a;

// Font Colors
$title-color: #fff;
// Footer a color
$footer-a-color: #fff;
// Body text color
$body-text-color: #afaeae;

// Border Colors
$border-color: #2b2a2a;
