$background-color: #06062e;

// Font Colors
$title-color: #f5efef;
// Footer a color
$footer-a-color: #f0eaea;
// Body text color
$body-text-color: #d1c2c2;

// Border Colors
$border-color: #2e0303;
