$background-color: #f9f9fb;

$primary-color: #54547A;
$secondary-color: #676798;
$tertiary-color: #79797A;

// Font Colors
$title-color: #111;
// Footer a color
$footer-a-color: #222;
// Body text color
$body-text-color: #444;

// Border Colors
$border-color: #e6e6e6;
