.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #d3d3d3;
        width: 100%;
        padding-top: 14px;
    }

    .card-content {
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4px;
        
    }
    .card-footer {
        font-weight: bold;
        text-align: center;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 4px;
    }
}

#card1 {
    grid-area: 1 / 1 / 2 / 2;
}
#card2 {
    grid-area: 1 / 2 / 2 / 3;
}
#card3 {
    grid-area: 1 / 3 / 2 / 4;
}
#card4 {
    grid-area: 2 / 1 / 3 / 2;
}
#card5 {
    grid-area: 2 / 2 / 3 / 3;
}
#card6 {
    grid-area: 2 / 3 / 3 / 4;
}
#card7 {
    grid-area: 3 / 1 / 4 / 4;
}

@media screen and (max-width: 600px) {
    .parent {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    #card1 {
        grid-area: 1 / 1 / 1 / 1;
    }
    #card2 {
        grid-area: 2 / 1 / 2 / 1;
    }
    #card3 {
        grid-area: 3 / 1 / 3 / 1;
    }
    #card4 {
        grid-area: 4 / 1 / 4 / 1;
    }
    #card5 {
        grid-area: 5 / 1 / 5 / 1;
    }
    #card6 {
        grid-area: 6 / 1 / 6 / 1;
    }
    #card7 {
        grid-area: 7 / 1 / 7 / 1;
    }
}
