.single-parent {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 20px 0px;
    max-width: 90%;
}

.side-menu {
    margin-left: 20px;
}
